{
  "openapi": "3.1.0",
  "info": {
    "title": "DIRECTV Marketing Campaign \u2014 Agentic Workflow Tools",
    "description": "Tools for the DIRECTV Personalized Marketing Campaign Agentic Workflow built on IBM watsonx.Orchestrate.",
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://directv-workshop-backend-directv-marketing.apps.itz-eo7d3o.hub01-lb.techzone.ibm.com"
    }
  ],
  "paths": {
    "/api/v1/campaigns": {
      "get": {
        "summary": "List campaigns \u2014 DIRECTV Campaign Management",
        "description": "Returns the campaign register from the DIRECTV Campaign Management system. Defaults to campaigns pending approval. Pass status='all' to see the full campaign history.",
        "operationId": "list_campaigns_api_v1_campaigns_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by campaign status. Pass 'all' to return every campaign.",
              "default": "pending_approval",
              "title": "Status"
            },
            "description": "Filter by campaign status. Pass 'all' to return every campaign."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign_id": {
                            "type": "string",
                            "description": "Unique campaign UUID"
                          },
                          "campaign_name": {
                            "type": "string",
                            "description": "Human-readable campaign name"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Email of the campaign creator"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "ISO 8601 timestamp when the campaign was created"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current campaign status (e.g. pending_approval, approved, rejected, delivered)"
                          },
                          "total_customers": {
                            "type": "integer",
                            "description": "Number of customers in the campaign audience"
                          },
                          "segment_filters": {
                            "type": "object",
                            "description": "Filters used to select the campaign audience"
                          }
                        },
                        "required": ["campaign_id", "campaign_name", "status"]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{campaign_id}": {
      "get": {
        "summary": "Get campaign details \u2014 DIRECTV Campaign Management",
        "description": "Returns the full campaign record from the DIRECTV Campaign Management system, including the selected audience, current draft email template, and approval status.",
        "operationId": "get_campaign_api_v1_campaigns__campaign_id__get",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Campaign Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "total_customers": {
                      "type": "integer"
                    },
                    "segment_filters": {
                      "type": "object"
                    },
                    "current_template": {
                      "type": "object",
                      "properties": {
                        "draft_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "content": {
                          "type": "object",
                          "properties": {
                            "subject": {
                              "type": "string"
                            },
                            "greeting": {
                              "type": "string"
                            },
                            "body": {
                              "type": "string"
                            },
                            "closing": {
                              "type": "string"
                            },
                            "ps": {
                              "type": "string"
                            }
                          }
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    "approval": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "reviewer": {
                          "type": "string"
                        },
                        "decision": {
                          "type": "string"
                        },
                        "reviewer_notes": {
                          "type": "string"
                        },
                        "decided_at": {
                          "type": "string"
                        }
                      }
                    },
                    "customers": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{campaign_id}/decide": {
      "post": {
        "summary": "Submit approval decision \u2014 DIRECTV Campaign Approval",
        "description": "Records the reviewer's decision on a pending campaign draft in the DIRECTV approval system.\n\n- **APPROVED**: Campaign proceeds to personalization and delivery.\n- **REJECTED**: Campaign is cancelled and no emails are sent.\n\nreviewer_notes are optional and stored for audit purposes.",
        "operationId": "decide_campaign_api_v1_campaigns__campaign_id__decide_post",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Campaign Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "type": "string"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "approved or rejected"
                    },
                    "message": {
                      "type": "string"
                    },
                    "next_step": {
                      "type": "string"
                    },
                    "reviewer_notes": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{campaign_id}/personalize": {
      "post": {
        "summary": "Personalize approved template \u2014 DIRECTV Marketing Personalization",
        "description": "Runs after the campaign is approved. Substitutes all placeholder variables in the approved email template with each subscriber's real data \u2014 name, package, viewing preferences, and local market \u2014 producing one unique email per customer ready for delivery.",
        "operationId": "personalize_campaign_api_v1_campaigns__campaign_id__personalize_post",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Campaign Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "type": "string"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "personalized_count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "to_email": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "next_step": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{campaign_id}/deliver": {
      "post": {
        "summary": "Deliver campaign emails \u2014 Salesforce Marketing Cloud",
        "description": "Sends the personalized campaign emails to each subscriber via Salesforce Marketing Cloud. Each delivery is tracked with a unique message ID and receipt stored in the campaign management system.",
        "operationId": "deliver_campaign_api_v1_campaigns__campaign_id__deliver_post",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Campaign Id"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Dry Run"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "type": "string"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "delivered": {
                      "type": "integer"
                    },
                    "dry_run": {
                      "type": "boolean"
                    },
                    "receipts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customer_name": {
                            "type": "string"
                          },
                          "to_email": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "message_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApprovalDecisionRequest": {
        "properties": {
          "reviewer": {
            "type": "string",
            "title": "Reviewer",
            "description": "Reviewer name or email"
          },
          "decision": {
            "type": "string",
            "title": "Decision",
            "description": "APPROVED or REJECTED"
          },
          "reviewer_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviewer Notes",
            "description": "Optional free-form feedback from the reviewer (stored for audit)."
          }
        },
        "type": "object",
        "required": ["reviewer", "decision"],
        "title": "ApprovalDecisionRequest"
      },
      "CampaignCustomerInput": {
        "properties": {
          "customer_id": {
            "type": "string",
            "title": "Customer Id",
            "description": "Hashed customer identifier from the analytics audience mart"
          },
          "customer_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Customer Name",
            "description": "Customer name from CRM / customer 360"
          },
          "customer_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Customer Email",
            "description": "Customer email from CRM / marketing contact policy"
          },
          "customer_profile": {
            "additionalProperties": true,
            "type": "object",
            "title": "Customer Profile",
            "description": "Resolved CustomerProfile built by the Customer Intelligence Agent"
          }
        },
        "type": "object",
        "required": ["customer_id", "customer_profile"],
        "title": "CampaignCustomerInput"
      },
      "CreateCampaignRequest": {
        "properties": {
          "campaign_name": {
            "type": "string",
            "title": "Campaign Name",
            "description": "Human-readable title shown in Orchestrate UI, e.g. 'Sports ULTIMATE DFW \u2014 April 2026'. The campaign UUID is used internally for all API calls."
          },
          "created_by": {
            "type": "string",
            "title": "Created By",
            "description": "Always set to the logged-in participant's email from the wxo_email_id context variable. Never ask the user for this value."
          },
          "approver_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Approver Email",
            "description": "Optional approver email override. In watsonx.Orchestrate this can come from the logged-in participant context variable (for example wxo_email_id). If omitted, the API falls back to created_by when it looks like an email."
          },
          "genre": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Genre",
            "description": "Audience filter selected from the customer analytics mart"
          },
          "package_tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Package Tier",
            "description": "Subscription package filter from billing / entitlement systems"
          },
          "engagement_tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Engagement Tier",
            "description": "Engagement segment from customer analytics"
          },
          "dma": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dma",
            "description": "Designated Market Area filter from customer demographics"
          },
          "min_age": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 18.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Age"
          },
          "max_age": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 100.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Age"
          },
          "limit": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Limit",
            "description": "Max customers to include in campaign",
            "default": 10
          },
          "dry_run": {
            "type": "boolean",
            "title": "Dry Run",
            "description": "Simulate delivery without sending emails",
            "default": true
          },
          "selected_customers": {
            "items": {
              "$ref": "#/components/schemas/CampaignCustomerInput"
            },
            "type": "array",
            "minItems": 1,
            "title": "Selected Customers",
            "description": "Audience selected by the Customer Intelligence Agent. Each item should already include the resolved CustomerProfile."
          },
          "draft_template": {
            "$ref": "#/components/schemas/DraftTemplateInput",
            "description": "Draft template generated by the Email Generation Agent. This API persists it for approval; it does not generate copy itself."
          },
          "generation_metadata": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/GenerationMetadataInput"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional metadata returned by the Email Generation Agent for auditability"
          }
        },
        "type": "object",
        "required": [
          "campaign_name",
          "created_by",
          "selected_customers",
          "draft_template"
        ],
        "title": "CreateCampaignRequest"
      },
      "CustomerProfileRequest": {
        "properties": {
          "customer_id": {
            "type": "string",
            "title": "Customer Id",
            "description": "Hashed DIRECTV customer identifier"
          }
        },
        "type": "object",
        "required": ["customer_id"],
        "title": "CustomerProfileRequest"
      },
      "DraftTemplateInput": {
        "properties": {
          "subject": {
            "type": "string",
            "title": "Subject"
          },
          "greeting": {
            "type": "string",
            "title": "Greeting"
          },
          "body": {
            "type": "string",
            "title": "Body"
          },
          "closing": {
            "type": "string",
            "title": "Closing"
          },
          "ps": {
            "type": "string",
            "title": "Ps"
          }
        },
        "type": "object",
        "required": ["subject", "greeting", "body", "closing", "ps"],
        "title": "DraftTemplateInput"
      },
      "EmailGenerationRequest": {
        "properties": {
          "customer_profile": {
            "additionalProperties": true,
            "type": "object",
            "title": "Customer Profile",
            "description": "CustomerProfile JSON from /api/v1/customer/profile"
          }
        },
        "type": "object",
        "required": ["customer_profile"],
        "title": "EmailGenerationRequest"
      },
      "GenerationMetadataInput": {
        "properties": {
          "llm_model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Llm Model"
          },
          "favorite_genre": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Favorite Genre"
          },
          "package_tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Package Tier"
          },
          "locality_hint": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Locality Hint"
          },
          "generated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Generated At"
          },
          "representative_customer_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Representative Customer Id"
          }
        },
        "type": "object",
        "title": "GenerationMetadataInput"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    }
  }
}
